<nav class="bg-primary">
    <div class="container navbar-wrap">
        <a class="navbar-logo" href="index.html"><h1 class="fs-6"><img src="../assets/images/logo-white.png" alt="logo"></h1></a>
        <ul class="nav justify-content-between">
            <li class="navbar-item"><a class="navbar-link" href="intro.html">系列鏡框</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">門市據點</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">部落格</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">常見問題</a></li>
        </ul>
    </div>
</nav>